.intro {
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: #673ab7;
    color: white;

    .title {
        line-height: 1;
        font-size: 2.5rem;
    }
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divider {
    display: flex;
    flex-direction: row;
    align-items: center;

    mat-divider {
        flex: 1;
    }

    p {
        margin: 0 10px;
        color: gray;
    }

    button {
        margin-right: 10px;
    }
}