<!-- <mat-card>
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <mat-card-subtitle> {{ post.author }} </mat-card-subtitle>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <p>
        {{ post.body }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card> -->

<mat-card class="post">
    <div class="deletedOverlay" *ngIf="this.post.deleted">
        <mat-icon color>delete_outline</mat-icon>
        <p>This post has been deleted</p>
    </div>
    <div class="postVoteCol">
        <!-- Circle Arrow -->
        <button mat-icon-button (click)="this.toggleVote(1)">
            <mat-icon>{{ (userVote == 1) ? "arrow_circle_up" : "arrow_upward"}}</mat-icon>
        </button>
        <!-- Colored Arrow -->
        <!-- <button mat-icon-button (click)="vote = (userVote == 1) ? 0 : 1"><mat-icon [color]="(userVote == 1) ? 'primary' : null">arrow_upward</mat-icon></button>  -->
        <!-- Colored thumbs -->
        <!-- <button mat-icon-button (click)="vote = (userVote == 1) ? 0 : 1"><mat-icon [color]="(userVote == 1) ? 'primary' : null">thumb_up</mat-icon></button>  -->

        <span> {{ post.votes }} </span>

        <!-- Circle Arrow -->
        <button mat-icon-button (click)="this.toggleVote(-1)">
            <mat-icon>{{ (userVote == -1) ? "arrow_circle_down" : "arrow_downward"}}</mat-icon>
        </button>
        <!-- Colored Arrow -->
        <!-- <button mat-icon-button (click)="vote = (userVote == -1) ? 0 : -1"><mat-icon [color]="(userVote == -1) ? 'primary' : null">arrow_downward</mat-icon></button>  -->
        <!-- Colored thumbs -->
        <!-- <button mat-icon-button (click)="vote = (userVote == -1) ? 0 : -1"><mat-icon [color]="(userVote == -1) ? 'primary' : null">thumb_down</mat-icon></button>  -->
    </div>
    <mat-card-content class="postContent">
        <mat-card-title *ngIf="(post.title != null) && (post.title.length > 0)"> {{ post.title }} </mat-card-title>
        <p [innerHTML]="replaceNewLinesWithBreaks(post.body)"></p>

        <!-- <p> voters {{ post.voters | json }}</p>
        <p> voters[user] {{ post.voters[auth.currentUserId] }}</p>
        <p> vote {{ userVote }}</p>
        <p> in voters {{ post.voters["asd"] == undefined }}</p> -->

        <div class="postContentBottom">
            <mat-card-subtitle>
                Posted by
                {{ (post.authorUid == auth.currentUserId)  && (post.id != null) ? "you" : post.authorDisplayName }}
                {{ (post.postedTime == -1) ? "a few seconds ago" : ((post.postedTime.seconds | amFromUnix) | amTimeAgo) }}
                
            </mat-card-subtitle>
            <button mat-icon-button *ngIf="(post.authorUid == auth.currentUserId) && (post.id != null)" (click)="deleteMe()"><mat-icon color>delete_outline</mat-icon></button>
        </div>
    </mat-card-content>
</mat-card>